/* universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* styling and positioning of header */
header {
  min-width: 390px;
  margin: 0;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
  padding-left: 150px;
}

/* font size for h1 header */
header h1 {
  font-size: 200%;
}

/* styling for the headers unordered list */
header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 100px;
  list-style: none;
}

/* styling for nav link text */
nav a {
  color: #F5FDB0;
  font-weight: bold;
  text-decoration: none;
  padding-right: 10px;
}

/* color for selecting nav button*/
nav a:hover {
  color: #3EDBF0;
  transition: .4s;
}

/* centers "welcome to my portfolio" */
main {
   text-align: center;
}

/* styling for profile picture */
main img {
    margin: 3% auto 0 auto;
    
    text-align: center;
    width: 100%;
}

/* stying for aside text and hr's */

h2 {
    color: #13293d;
}

hr { 
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba( 0, 0, 0, 0), rgba( 255, 0, 0, 1), rgba( 0, 0, 0, 0));  
 }
 
 
 .options li::before{
     content: "🧼";
     padding-right: 1%;
 }

 

/* styling for p tags */
p {
    margin: 3% auto 3% auto;
    
    
    line-height: 125%;
    width: 90%;
    max-width: 800px;
}

/* top margin for large picture */
.refactor {
    margin: 3% auto 0 auto;
    height: 200px;
    width: 90%;
    max-width: 800px;
}

/* styling for refactor picture */
.refactor:hover {
    transform: scale(1.1);
    transition: .5s;
    border: solid 1px black;
    cursor: pointer;
}

/* styling and positioning for the table with imgs */
table {
    border: thick double #32a1ce;
    margin: 0 auto 2% auto;
    height: 200px;
    width: 90%;
    max-width: 800px;
    
}

/* styling for the table */
table img:hover {
    transform: scale(1.1);
    transition: .5s;
    border: solid 1px black;
}

/* positioning for section over the contact me buttons */

section h3 {
    width: 90%;
    margin-left: 10%;
    margin-top: 3%;
}

section {
    text-align: center;
}

section ul {
    margin-top: 2%;
    text-align: center;
}

.button li {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
}

/* styling and positioning for buttons */
.buttons {
    background-color: #13293d;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 3px #888888;
    border-radius: 8%;
}

.buttons:hover{
    transform: scale(1.1);
    transition: .5s;
    color: white;
} 

/* styling and positioning for the footer */
footer {
    margin-top: 2%;
    padding: 20px 0 20px 0%;
    background-color: #13293d;
    color: white;
}

@media screen and (max-width: 916px) {
header {
    padding-left: 5%;
    
    }
}





